@import '../../assets/styles/variables'

.option
  display: flex
  align-items: center
  justify-content: center
  gap: 6px
  padding: 5px 10px
  border-radius: 5px
  background-color: $white
  transition: .2s
  position: relative
  font-size: 13px
  &::first-letter
    text-transform: uppercase
  &:hover
    background-color: $light-gray
  &.active
    background-color: $light-main-color
    color: $main-color
    .option__icon
      path
        fill: $main-color
.option__ellipsis
  margin: 0 6px
  height: 4px
  width: 4px
  border-radius: 50%
  background-color: $black
  box-shadow: -6px 0 0 0 $black, 6px 0 0 0 $black
  transition: .3s